<a href="https://colab.research.google.com/github/rodzharick/usando-las-instruccion-for/blob/main/for_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Bienvenidos a google colaboratory")

Bienvenidos a google colaboratory

# Estructura repetitiva for
es una estrucutura para..

In [ ]:
# programa 1 instrucciones for
# mosttrar la suma de los 10 primero numeros naturales

#input
#processing
suma=0
serie= list(range(1,11))
for i in range(1,11):
  suma+=i

#ouput
print("la suma es:",suma)
print(serie)

la suma es: 55
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#la funcion range
La función range crea una serie de números consecutivos. La serie que se crea se construye por defecto iniciando en 0 y terminando un número antes del argumento que se le entrega a la función. Cada número de la serie se incrementa en 1
ejemplos
for i in range(10):
   print(i)

In [ ]:
# ejercicio N.2 mostrar los numero de un 1 a 10 s intrucciones repetitivas
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# ejercicio N.3 mostrar los numeros del 1 al 10
i=1
while(i<=10):
  print(i)
  i= i+1

In [ ]:
# ejercicio N.4  mostrar los numeros del 1 al 10 usando la instruccion for
for i  in range(1,11)
print(i)

In [ ]:
#ejercicio N.5 mostrar los numeros del 1 a 10 usando la instruccion for y una lista
mi_lista=[1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(i)

In [ ]:
# ejercicio N.6 mostrar la frase  10 veces usando la instruccion for y una lista
mi_lista=[1,2,3,4,5,6,7,8,9,10]
for i in mi_lista:
  print(f"{i}guanenta 200 años!")

In [ ]:
# ejerrcicio N.7 mostrar la silaba inicial de los dias de la semana usando for y una lista
dias_semana=["lu","ma","mi","ju","vi","sa","do"]
for i in dias_semana:
  print(i)

In [ ]:
# ejercicio N.8 mostrar una lista de distintos tipos de datos usando for y una lista
mi_listica=[1,3,14,9 ,True,"zharick",8,"guanenta"]
for i in mi_listica:
  print(i)

In [ ]:
# ejercicio N.9 ingresar su nombre y mostrar letra a letra usando for
nombre= input("ingrese su nombre:")
for i in nombre:
  print(i)

In [ ]:
# ejercicio N.10 ingresar su nombre pero en una letra (a)se cambia por un * usando for
nombre = input(" digite su nombre")
for i in nombre:
  if i=="a":
    print("*")
  else:
    print(i)

In [ ]:
# ejercicio N.10 ingresar su nombre mostrando letra a letra  en mayuscula usando for
nombre = input(" digite su nombre")
for i in nombre:
  print(i.upper())